.hero-section {
	overflow: hidden;
	position: relative;
	background: rgba(35, 35, 35, 1);
	background-image: url("../../assets/hero/bgheo.png");
	background-repeat: no-repeat;
	background-position: right;
	backdrop-filter: blur(163.6999969482422px);

	color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 3rem;
	padding-top: 3rem;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 20%;
		background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		pointer-events: none;
	}
	.backgrond-imges-gradents-ellips {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
		}
		.hero-logo-div {
			position: absolute;
			right: -10%;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden; // Add this to prevent the logo from overflowing

			.hero-logo {
				position: absolute;
				right: 0;
				top: 30%;
				will-change: transform; // Add this for performance optimization
			}
		}
		.elipsone {
			top: 30%;
			left: 12%;
			width: 15rem;
		}
		.elipstwo {
			left: 50%;
			width: 10rem;
			top: 60%;
		}
		@media (max-width: 786px) {
			justify-content: center;
			img {
				position: relative;
			}
			.hero-logo-div {
				display: flex;
				justify-content: center;
				position: relative;
				right: unset;
				.hero-logo {
					width: 20rem;
					top: 60%;
					right: unset;
					margin-top: 5rem;
					position: relative;
				}
			}
		}

		@media (max-width: 425px) {
			justify-content: center;
			img {
				position: relative;
			}
			.hero-logo-div {
				display: flex;
				justify-content: center;
				position: relative;
				right: unset;
				.hero-logo {
					width: 10rem;
					top: 30%;
					right: unset;
					margin-top: 5rem;
					position: relative;
				}
			}
		}
	}
	.container {
		height: 100%;
		z-index: 100;
	}

	.overlay {
		height: 100%;

		.content {
			max-width: 80%;
			height: 100%;
			justify-content: flex-end;
			display: flex;
			flex-direction: column;
			h1 {
				color: rgba(255, 255, 255, 1);
				font-family: Helvetica;
				font-size: 100px;
				font-weight: 1000 !important;
				text-align: left;
				margin-bottom: 3rem;
				line-height: 7rem;
				letter-spacing: 0.3pt !important;
				span {
					background: linear-gradient(
						180deg,
						#ffffff -16.36%,
						#f4f9f8 45.93%,
						#000000 163.49%
					);

					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;
					-webkit-text-fill-color: transparent;
				}
			}

			p {
				font-size: 14px;
				font-weight: 400;
				line-height: 25px;
				letter-spacing: 0.06em;
				text-align: left;
				margin-bottom: 3rem;
			}
			.btn-main-her {
				.btn {
					border: 2px solid #f15f2b;
					padding: 0.8rem 2rem;
					border-radius: 30px;
					font-size: 18px;
					font-weight: 700 !important;
					line-height: 26.4px;
					letter-spacing: 0.06em;
					color: #f4f9f8;
					transition: all 0.3s ease;
					position: relative;
					overflow: hidden;

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: #f15f2b;
						transform: translateX(-100%);
						transition: all 0.3s ease;
						z-index: -1;
					}

					&:hover {
						color: #f4f9f8;
						transform: scale(1.05);

						&::before {
							transform: translateX(0);
						}
					}
				}
			}

			@media (max-width: 1400px) {
				margin-top: 5rem;
				justify-content: center;
				height: 100%;
				h1 {
					font-size: 4.5rem;
					line-height: 4.5rem;
				}
			}
			@media (max-width: 786px) {
				max-width: 100%;
				margin-top: 5rem;

				h1 {
					font-size: 30px;
					text-align: center;
					margin-bottom: 1.5rem;
					line-height: normal;
				}
				p {
					font-size: 10px;
					text-align: center;
					line-height: 12px;
					margin-bottom: 1.5rem;
				}
				.btn-main-her {
					display: flex;
					justify-content: center;
					.btn {
						font-size: 9px;
						padding: 5px 20px;
						border-radius: 40px;
						font-weight: 700;
					}
				}
			}
		}
	}
	@media (max-width: 786px) {
		flex-direction: column;
	}
}

@media (max-width: 786px) {
	.hero-section {
		flex-direction: column;

		.overlay {
			.content {
				max-width: 100%;
				margin-top: 2rem;
				order: 1;

				h1 {
					font-size: 30px;
					text-align: center;
					margin-bottom: 1.5rem;
					line-height: normal;
				}
				p {
					font-size: 10px;
					text-align: center;
					line-height: 12px;
					margin-bottom: 1.5rem;
				}
				.btn-main-her {
					display: flex;
					justify-content: center;
					margin-bottom: 2rem;
					.btn {
						font-size: 9px;
						padding: 5px 20px;
						border-radius: 40px;
						font-weight: 700;
					}
				}
			}
		}

		.backgrond-imges-gradents-ellips {
			position: relative;
			order: 2;

			.hero-logo-div {
				position: relative;
				right: unset;
				display: flex;
				justify-content: center;
				width: 100%;
				height: auto;
				margin-top: 0rem;

				.hero-logo {
					position: relative;
					right: unset;
					top: unset;
					width: 100%;
					max-width: 400px;
					margin-top: 1rem;
				}
			}
		}
	}
}

.animate__animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animate__fadeIn {
	animation-name: fadeIn;
}

.animate__pulse {
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
