# Ignore node_modules
node_modules/

# Ignore build files
build/

# Ignore log files
*.log

# Ignore test files
coverage/

# Ignore environment files
.env

# Ignore Dockerfile
Dockerfile

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
